speakers/*
!speakers/.gitkeep
audio_logs/*
!audio_logs/.gitkeep
models/SenseVoiceSmall/*
!models/SenseVoiceSmall/.gitkeep
models/speech_campplus_sv_zh_en_16k-common_advanced/*
!models/speech_campplus_sv_zh_en_16k-common_advanced/.gitkeep
/improve/
